<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/css/info.css">
  <title>Document</title>
</head>
<body>
   <header class="main-header">
    <h1>FINESI</h1>
    <nav class="main-header__nav">
      <ul>
        <li><a href="/index.html">Inicio</a></li>
        <li><a href="/index.html#estudi">Estudiantes</a></li>
        <li><a href="./src/views/info.html">Informacion</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="info__main-div-title">
      <h1>Trabajo presentado por: </h1>
    </div>
  </main>
</body>
</html>